:root {
    --color-primary: #043668;
    --color-secundary: #056ECF;
    --color-blue-claro: #1282A2;
    --color-write: #FEFCFB;
    --color-bg-opacity: #06274E;
    --color-footer: #02081F;
    --color-navbar: #051C39;
    --color-aside: #062448;

    --menu-height: 65px;
}


main#content {
    height: calc(100vh - var(--menu-height));
    display: flex;
}

/* aside ---------------------------------------- */
aside#bio-container {
    height: calc(100vh - var(--menu-height));
    background-color: var(--color-aside);
    text-align: center;
    width: 320px;
    padding: 20px;
    border-right: 5px solid white;
}

/* aside perfil --------------------------------- */

aside .perfil {
    display: flex;
    height: 80px;
    color: var(--color-write);
}

aside .perfil .content {
    max-height: 80px;
    text-align: left;
    margin-left: 10px;
}

aside .perfil .content h3 {
    font-weight: 400;
    
}

aside .perfil .content p {
    font-size: 0.8em;
    font-weight: 300;
}

aside .perfil .content p span {
    font-weight: 800;
    color: var(--color-secundary);
}

aside .perfil .content h5 {
    font-weight: 400;
}

aside .perfil .content .progress {
    height: 8px;
    background-color: var(--color-write);
    position: relative;
    border-radius: 0 30px 30px 0;
    /* margin-top: 20px; */
}

aside .perfil .content .progress .progress-bar{
    position: absolute;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: var(--color-secundary);
    animation: progress-animation 6s both;
}

@keyframes progress-animation{
    0% { width: 0%; }
    
    100% { width: 80%}

}

aside .linha-perfil {
    width: 270px;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border-radius: 50px;
}

/* Top Five -------------------- */

aside .top-five h2{
    font-size: 25px;
    color: var(--color-write);
    font-weight: 600;
    text-align: left;
}

aside .top-five .top-placements {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

aside .top-five .top-placements .img-top {
    align-items: center;
    display: flex;
    color: var(--color-write);
    margin-right: 15px;
    margin-top: 10px;
}

aside .top-five .top-placements .img-top p {
    margin-right: 1px;
    font-weight: 500;
}

aside .top-five .top-placements .content-perfil {
    color: var(--color-write);
    margin-top: 10px;
    text-align: left;
}

aside .top-five .top-placements .content-perfil h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

aside .top-five .top-placements .content-perfil h5 {
    margin: 0;
    font-weight: 400;
}

aside .top-five .top-placements .content-perfil .progress {
    height: 8px;
    background-color: var(--color-write);
    position: relative;
    border-radius: 0 30px 30px 0;
    margin-top: 3px;
    width: 19vh;
}

aside .top-five .top-placements .content-perfil .progress .progress-bar{
    position: absolute;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: var(--color-secundary);
    animation: progress-animation 6s both;
}

@keyframes progress-animation{
    0% { width: 0%; }
    
    100% { width: 70%}
}

