.administracao {
    margin-bottom: 100px;
}

.administracao h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 30px;
}

.administracao .trilhas-cards {
    display: flex;
    padding: 0 50px;
    margin-bottom: 30px;

    align-items: center;
    justify-content: space-between;
}
