.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 100%;
    padding-right: 50px;
}

.about-me .container h1 {
    margin-bottom: 10px;
}

.about-me .container p {
    font-size: 20px;
}

.about-me .img-container {
    width: 80%;
    text-align: center;
    position: relative;
}
  
.about-me .img-container img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}